@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
	background-color: var(--color-primary-standard);
	font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
	color: var(--color-auxiliary-standard);
}

#root {
	height: 100%;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	height: 100%;
}

.content-wrapper {
	width: 100vw;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* overflow: hidden;    */
}

main {
	width: 100%;
	max-width: 1280px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 48px;
	line-height: 1.2;
}

h2 {
	font-size: 32px;
	line-height: 1.3;
}

h3 {
	font-size: 24px;
	line-height: 1.4;
}

h4 {
	font-size: 20px;
	line-height: 1.4;
}

p {
	font-size: 16px;
	line-height: 1.6;
}

small {
	font-size: 14px;
	line-height: 1.5;
}

.text-primary {
	color: var(--color-primary-standard);
}

.text-secondary {
	color: var(--color-secondary-standard);
}

.text-tertiary {
	color: var(--color-tertiary-standard);
}

.text-auxiliary {
	color: var(--color-auxiliary-standard);
}
