:root {
	--color-primary-standard: #0a0a0a;
	--color-primary-darker: #080808;
	--color-primary-lighter: #232323;
	--color-secondary-standard: #028090;
	--color-secondary-darker: #005661;
	--color-secondary-lighter: #3ca0ae;
	--color-tertiary-standard: #cf5c36;
	--color-tertiary-darker: #9f4325;
	--color-tertiary-lighter: #de8061;
	--color-auxiliary-standard: #9c9b99;
	--color-auxiliary-darker: #f0efec;
	--color-auxiliary-lighter: #f4f3f0;
}
